/*链接通用*/
a {font-family: "Microsoft YaHei"; font-size: 12px; text-decoration: none;}

ul {margin:0; padding:0;}

ul li {margin:0; padding:0; list-style:none;}

img {border:0px;}

/*浮动*/
.fl{float:left;}

.fz{margin:0 auto;}

/*div宽度*/
.w1200{width:1200px;}
.w100{width:100%;}

.juli_tuijian{ height:590px; background-color:#F3F7FA;}
.juli_tuijian_bt{ width:1200px; height:60px; font-size:36px; font-weight:bold; color:#353535; text-align:center; line-height:60px; vertical-align:middle; margin-top:30px;}
.juli_tuijian_fbt{ width:1200px; height:38px; font-size:22px; color:#707070; text-align:center; line-height:38px; vertical-align:middle;}


.juli_chanpin_k{margin-top:35px;}
.juli_chanpin_k li{ width:276px; height:247px;  float:left; margin-left:7px; margin-top:7px;}
.juli_chanpin_k li:hover div{color: #fe8700}
.cpbj_0{ background-image:url(../images/juli_cp_1.png);}
.cpbj_1{ background-image:url(../images/juli_cp_2.png);}
.cpbj_2{ background-image:url(../images/juli_cp_3.png);}
.cpbj_3{ background-image:url(../images/juli_cp_4.png);}
.cpbj_4{ background-image:url(../images/juli_cp_5.png);}
.cpbj_5{ background-image:url(../images/juli_cp_6.png);}
.cpbj_6{ background-image:url(../images/juli_cp_7.png);}
.cpbj_7{ background-image:url(../images/juli_cp_8.png);}
.cpbj_8{ background-image:url(../images/juli_cp_9.png);}
.cpbj_9{ background-image:url(../images/juli_cp_10.png);}
.cpbj_10{ background-image:url(../images/juli_cp_11.png);}
.cpbj_11{ background-image:url(../images/juli_cp_12.png);}



.cp_bt{ width:276px; height:30px;font-size:20px;color:#fff; line-height:30px; vertical-align:middle; font-weight:bold; text-align:center; margin-top:60px;}
.cp_fbt{ width:276px; height:25px;font-size:14px;color:#fff; line-height:25px; vertical-align:middle;text-align:center;}
.cp_gd{ width:100px; height:36px; margin-left:90px; margin-top:58px;}