*{margin: 0px;padding: 0px}
#header .welcome{margin-left: 20px;color: red;font-family: "微软雅黑 Light";font-size: 14px;font-weight: bold}
#header .personal{margin-left: 10px;color: #fe8700;font-family: "微软雅黑 Light";font-size: 14px;font-weight: bold;text-decoration: none}
#header .logout{margin-left: 10px;color: #fe8700;font-family: "微软雅黑 Light";font-size: 14px;font-weight: bold;text-decoration: none}
#header .login{margin-left: 40px;color: #fe8700;font-family: "微软雅黑 Light";font-size: 14px;font-weight: bolder;text-decoration: none;}
#header .register{margin-left: 25px;color: #fe8700;font-family: "微软雅黑 Light";font-size: 14px;font-weight: bolder;text-decoration: none;}
#banner{background: url("../images/mint_banner.png");width: 1920px;height: 623px;margin-top: 10px;}
#nav .nav-item{width: 112px;font-weight: bolder;}
#nav .navbar-nav .nav-link{color: white;font-family: "微软雅黑 Light";font-size: 14px;}
#nav .nav-item .nav-link:hover{color: #fe8700}