*{margin: 0px;padding: 0px}
#header .welcome{margin-left: 20px;color: red;font-family: "微软雅黑 Light";font-size: 14px;font-weight: bold}
#header .personal{margin-left: 10px;color: #fe8700;font-family: "微软雅黑 Light";font-size: 14px;font-weight: bold;text-decoration: none}
#header .logout{margin-left: 10px;color: #fe8700;font-family: "微软雅黑 Light";font-size: 14px;font-weight: bold;text-decoration: none}
#header .login{margin-left: 40px;color: #fe8700;font-family: "微软雅黑 Light";font-size: 14px;font-weight: bolder;text-decoration: none;}
#header .register{margin-left: 25px;color: #fe8700;font-family: "微软雅黑 Light";font-size: 14px;font-weight: bolder;text-decoration: none;}
#banner{background: url("../images/banner.png");width: 1920px;height: 623px;margin-top: 10px;}
#nav .nav-item{width: 112px;font-weight: bolder;}
#nav .navbar-nav .nav-link{color: #fe8700;font-family: "微软雅黑 Light";font-size: 14px;}
#middle .title{margin-top: 30px}
#middle .more{color: #666666;font-size: 14px;text-decoration: none}
#middle .program{margin-top: 30px;width: 424px;height: 555px;background-color: #f0f0f0}
#middle .programRight{background: url("../images/middle.png");margin-top: 30px;width: 776px;height: 555px}
#middle .program .nav-item{width: 380px;height: 115px;margin-left: -30px}
#middle .program .nav-link{width:320px;line-height:110px;border-bottom: #bababa 1px solid;margin: 0px auto;color: #666666}
#middle .program .nav-link .pro{border-bottom: #fe8700 3px solid;color: #666666;font-size: 24px;margin-right: 30px}
#middle .program .nav-link .pan{font-size: 30px;float: right;color: #666666}
#middle .program .nav-item:hover{background-color: #fe8700}
#middle .program .nav-item:hover .nav-link{color: white;border-bottom: #fe8700}
#middle .program .nav-item:hover .nav-link .pro{color: white;border-bottom: white 3px solid}
#middle .program .nav-item:hover .nav-link .pan{color: white}
#middle .programRight .notice{display:none;width: 360px;height: 465px;background-color: rgba(76,76,76,0.8);margin-top: 50px;margin-left: 340px;border-radius:20px;padding-left: 40px}
#middle .programRight .notice .protitle{padding-top: 40px;color: white;font-family: 微软雅黑;font-size: 20px}
#middle .programRight .notice .protitle span{color: white;font-size: 14px;margin-left: 35px}
#middle .programRight .notice hr{width: 40px;height: 2px;background-color: white}
#middle .programRight .notice .content{color: white;font-size: 14px;line-height: 25px;font-weight: bold;width: 280px}
#middle .programRight .notice a{line-height: 38px;color: white;text-align: center;text-decoration: none}
#middle .programRight .notice .button{width: 130px;height: 38px;border: white 1px solid;margin-left: 73px;margin-top: 60px}
#middle2{background: url("../images/middle2.png");width: 1920px;height: 700px}
#middle2 .title{margin-top: 30px}
#middle2 .more{color: #666666;font-size: 14px;text-decoration: none}
#middle2 .liucheng{width:1140px; height:159px; margin-top:80px; text-align:center}
#middle2 .questions{width:1140px; height:160px;margin-top:80px}
#middle2 .questions ul{width:1200px;list-style-type: none;}
#middle2 .questions li{width:370px; height:40px; background-color:#EDEDED; float:left; margin:5px;line-height:40px; vertical-align:middle; font-family:"微软雅黑"; font-size:14px; color:#fe8700; padding-left:20px;margin-top: 20px}
#middle2 .questions li:hover{ background-color:#fe8700; color:#FFF;}
#middle3 {background: #3c383f url("../images/hezuo.png") 892px no-repeat;height: 700px;width: 1920px}
#middle3 .title{margin-top: 30px}
#middle3 .hezuo{margin-top: 160px}
#middle3 .hezuo .hztitle{color: white;font-size: 24px;font-family: "微软雅黑 Light";display: block;font-weight: bold}
#middle3 .hezuo hr{width: 40px;height: 2px;background-color: #fe8700}
#middle3 .hezuo .content{margin-top: 40px;width: 350px;color: white;font-size: 14px;line-height: 25px;font-weight: bolder}
#middle3 .firms{margin-top: 20px;width: 780px;height: 624px}
#middle3 .firms a{color: white;text-decoration: none;font-size: 24px}
#middle3 .firms a:hover{color: #fe8700}
#middle3 .firms p{color: white;font-size: 14px;margin-top: 30px}
#middle3 .firms .firm0{width: 250px;height: 312px;background:url("../images/tuceng1.png");color: white;text-align: center;padding-top: 50px}
#middle3 .firms .firm1{width: 250px;height: 312px;background:url("../images/tuceng2.png");color: white;text-align: center;padding-top: 50px}
#middle3 .firms .firm2{width: 250px;height: 312px;background:url("../images/tuceng3.png");color: white;text-align: center;padding-top: 50px}
#middle3 .firms .firm3{width: 250px;height: 312px;background:url("../images/tuceng4.png");color: white;text-align: center;padding-top: 50px;margin-top: 5px}
#middle3 .firms .firm4{width: 250px;height: 312px;background:url("../images/tuceng5.png");color: white;text-align: center;padding-top: 50px;margin-top: 5px}
#middle3 .firms .firm5{width: 250px;height: 312px;background:url("../images/tuceng6.png");color: white;text-align: center;padding-top: 50px;margin-top: 5px}
#middle4 .title{margin-top: 30px}
#middle4 .more{color: #666666;font-size: 14px;text-decoration: none}
#middle4 .news{margin-top: 75px}
#middle4 .news .letf{font-size: 16px;font-family: 微软雅黑}
#middle4 .news .newstitle{margin-top: 20px}
#middle4 .news .newstitle a{text-decoration: none;color: black;font-family: 微软雅黑;font-size: 20px;font-weight: bold}
#middle4 .news .newstitle a:hover{color: #fe8700}
#middle4 .news .desc{margin-top:30px;color: #666666;font-size: 14px;font-family: 微软雅黑;width: 406px}
#middle4 .news .picture{margin-top: 30px}
#middle4 .news .right{font-size: 16px;font-family: 微软雅黑}
#middle4 .news .right .newslist{list-style-type: none;}
#middle4 .news .right .newslist li{border-top: #cecece 1px solid;height: 175px;overflow:hidden}
#middle4 .news .right .desc{margin-top:10px;color: #666666;font-size: 14px;font-family: 微软雅黑;width: 406px;height: 68px;overflow:hidden}
#middle4 .news .right .newslist li:hover .date{color: #fe8700}
#middle4 .news .right .newslist li:hover a{color: #fe8700}

#footer{background-color:#3c383f}
#footer .biaoti1{width:335px; line-height:30px;vertical-align:middle; font-family:"微软雅黑"; font-size:20px; color:#fff; font-weight:bold}
#footer .text1{width:335px; line-height:30px;vertical-align:middle; font-family:"微软雅黑"; font-size:14px; color:#fff; margin-top:15px;}
#footer .biaoti2{margin-left:40px;width:335px; line-height:30px;vertical-align:middle; font-family:"微软雅黑"; font-size:20px; color:#fff; font-weight:bold}
#footer .text2{margin-left:40px;width:335px; line-height:30px;vertical-align:middle; font-family:"微软雅黑"; font-size:14px; color:#fff; margin-top:15px;}
#footer a{ line-height:30px;vertical-align:middle; font-family:"微软雅黑"; font-size:14px; color:#fff; margin-top:15px;text-decoration: none}
#footer a:hover{ color:#fe8700}
#footer .beian{width:1200px; height:65px; line-height:65px; vertical-align:middle; font-family:"微软雅黑"; font-size:14px; color:#fff; text-align:center;border-top: white 1px solid;margin-top: 20px}