/*链接通用*/
a {font-family: "Microsoft YaHei"; font-size: 12px; text-decoration: none;}

ul {margin:0; padding:0;}

ul li {margin:0; padding:0; list-style:none;}

img {border:0px;}

/*浮动*/
.fl{float:left;}

.fz{margin:0 auto;}

/*div宽度*/
.w1200{width:1200px;}
.w100{width:100%;}

.mianbao{ height:55px;}
.mianbao_tubiao{ height:55px; width:17px; background-image:url(../images/m.png);}
.mianbao_wz{ width:1100px; height:55px;line-height:55px;vertical-align:middle; font-family:"微软雅黑"; font-size:12px; color:#666; margin-left:5px; }
.mianbao_wz a{ font-family:"微软雅黑"; font-size:12px; color:#666;}
.mianbao_wz a:hover{color:#FF8601;}

.lieibao_z_k{}
.lieibao_zuo{ width:780px; }
.liebiao_zuo_bt{ width:780px; height:50px; border-top:2px solid #FF8601; border-left:1px solid #EEEEEE; border-right:1px solid #EEEEEE; background-color:#F7F7F7;line-height:48px;vertical-align:middle; font-family:"微软雅黑"; font-size:16px; color:#FF8601; padding-left:10px;letter-spacing:1px; font-weight:bold;}
.lieibao_zuo_nr_k{width:780px;border:1px solid #EEEEEE; border-top:none;}

.neirong_k{ width:760px}
.neirong_zuo_nr_k{width:780px;border:1px solid #EEEEEE; border-top:none;}
.neirong_k_k{ width:780px; border-top:2px solid #FF8601; border-left:1px solid #EEEEEE; border-right:1px solid #EEEEEE; font-family:"微软雅黑"; font-size:16px; color:#FF8601;}
.neirong_gg{ width:760px; height:118px; margin-top:20px;}
.neirong_biaoti{width:770px; height:50px;line-height:48px;vertical-align:middle; font-family:"微软雅黑"; font-size:18px; color:#666; letter-spacing:1px; text-align:center; }
.neirong_bq{width:770px; height:30px;line-height:30px;vertical-align:middle; font-family:"微软雅黑"; font-size:12px; color:#666; letter-spacing:1px; text-align:center; }
.neirong_bq ul{width:770px; height:30px;}
.neirong_bq li{ width:180px; height:30px;line-height:30px;vertical-align:middle; font-family:"微软雅黑";color:#666; font-size:12px; text-align:center; float:left;}
.neirong_bq li a{ font-family:"微软雅黑"; font-size:12px;color:#666;}
.neirong_bq li a:hover{ color:#FF8601;}

.neirong_neirong{width:740px; height:auto;line-height:25px;vertical-align:middle;overflow: hidden; font-family:"微软雅黑"; font-size:12px; color:#666;  margin-top:20px; padding-left:10px; }

.neirong_qianhou{width:760px; height:50px; margin-top:10px;}
.neirong_qian{ overflow:hidden;width:340px; height:50px; text-align:left; margin-left:10px; line-height:50px;vertical-align:middle; font-family:"微软雅黑"; font-size:14px; color:#666;}
.neirong_qian span{ color:#FF8601;}
.neirong_qian a{ font-family:"微软雅黑"; font-size:14px; color:#666;}
.neirong_qian a:hover{ color:#FF8601;text-decoration: none}

.neirong_hou{ overflow:hidden;width:340px; height:50px; text-align:right; margin-left:10px; line-height:50px;vertical-align:middle; font-family:"微软雅黑"; font-size:14px; color:#666;}
.neirong_hou span{ color:#FF8601;}
.neirong_hou a{ font-family:"微软雅黑"; font-size:14px; color:#666;}
.neirong_hou a:hover{ color:#FF8601;text-decoration: none}

.liebiao_zuo_di{ width:780px;border:1px solid #EEEEEE; height:175px; margin-top:10px;}
.liebiao_z_k{ width:760px; margin:10px;}
.liebiao_neirong{ width:760px; border-bottom:1px dashed #CCCCCC;}
.liebiao_neirong ul{ width:760px; margin-top:10px;}
.liebiao_neirong li{ width:760px; font-family:"微软雅黑"; font-size:12px; color:#666; float:left; height:31px;line-height:31px; vertical-align:middle;}
.liebiao_neirong li a{ font-family:"微软雅黑"; font-size:12px; color:#666;}
.liebiao_neirong li a:hover{ color:#FF8601;text-decoration: none}



.fenye{ width:760px; height:75px;}
.fenye_nr{ width:760px; height:75px;padding: 30px 100px}

liebiao_gg{ width:760px; height:118px;}

.lieibao_you{ width:390px; margin-left:30px}
.lieibao_you_bq{width:380px; height:50px; border-top:2px solid #FF8601; border-left:1px solid #EEEEEE; border-right:1px solid #EEEEEE; background-color:#F7F7F7;line-height:48px;vertical-align:middle; font-family:"微软雅黑"; font-size:16px; color:#FF8601; padding-left:10px;letter-spacing:1px; font-weight:bold;}
.liebiao_you_bq_k{width:390px; height:180px;border:1px solid #EEEEEE; border-top:none;}

.liebiao_you_bq_k ul{ width:390px; height:180px;}
.liebiao_you_bq_k li{ width:120px; height:35px;font-family:"微软雅黑"; font-size:12px; color:#FFF;line-height:35px; vertical-align:middle; margin:4px; float:left; border-radius:5px;text-align:center; }
.liebiao_you_bq_k li a{ font-family:"微软雅黑"; font-size:12px; color:#fff;}
.liebiao_you_bq_k li a:hover{ color:#FF8601;}




.lieibao_you_di_gg{ width:390px; height:210px; margin-top:10px;}

.tags_bg0{background-color: #959698;}
.tags_bg1{background-color: #825b87;}
.tags_bg2{background-color: #d7855d;}
.tags_bg3{background-color: #7d7371;}
.tags_bg4{background-color: #998471;}
.tags_bg5{background-color: #4f7b88;}