/*div宽度*/
.w1200{width:1200px;}
.w100{width:100%;}

/*浮动*/
.fl{float:left;}

.fz{margin:0 auto;}

.abb_xiangmu_bt{ width:1200px; height:80px; background-image:url(../images/abb_bt_bj1.png); background-position:center; background-repeat:no-repeat; margin-top:40px;line-height:80px; font-family:"微软雅黑"; font-size:30px; color:#000; text-align:center; font-weight:bold;}
.abb_xiangmu_bt span{ color:#FF9000;}
.abb_xmjs{ height:335px; margin-top:40px;}

.abb_liangdian{ width:315px; height:335px; background-image:url(../images/abb_liangdian.png);}
.abb_liangdian_bt{ width:315px; height:50px;line-height:54px; text-align:center;  font-family:"微软雅黑"; font-size:19px; color:#606060; text-align:center; font-weight:bold; margin-top:25px;}
.abb_xiangmu_js{ width:850px; height:335px; margin-left:15px;}
.abb_liangdina_nr{ width:260px; height:90px;  margin-left:30px; line-height:30px; vertical-align:middle; font-family:"微软雅黑"; font-size:16px; color:#606060; }
.abb_liangdain_zx{ width:315px; height:40px; line-height:40px; text-align:center;  font-family:"微软雅黑"; font-size:14px; color:#FF9000; text-align:center; font-weight:bold;}
.abb_liangdain_zx a{font-family:"微软雅黑"; font-size:14px; color:#FF9000; text-align:center; font-weight:bold;}
.abb_liangdain_zx a:hover{color:#F30;}
.abb_liangdian_gg{ width:270px; height:85px; margin:22px;}
.abb_xiangmu_js_t{ width:850px; height:212px; border-bottom:1px solid #CCC;}
.abb_xiangmu_tu{ width:348px; height:173px; margin-top:10px;}
.abb_xiangmu_js_nr{ width:485px; height:130px; margin-top:10px; margin-left:15px;  line-height:27px; vertical-align:middle; font-family:"微软雅黑"; font-size:15px; color:#606060; }
.abb_xiangmu_js_nr span{ font-family:"微软雅黑"; font-size:18px; color:#606060; font-weight:bold;}

.abb_xiangmu_js_zx{ width:485px; height:40px; line-height:40px;  font-family:"微软雅黑"; font-size:14px; color:#FF9000;font-weight:bold; margin-left:15px;}
.abb_xiangmu_js_zx a{font-family:"微软雅黑"; font-size:14px; color:#FF9000; font-weight:bold;}
.abb_xiangmu_js_zx a:hover{color:#F30;}

.abb_xiangmu_abb_gg{ width:850px; height:110px; margin-top:10px;}
.abb_xiangmu_abb_gg_tu{ width:280px; height:110px;}
.abb_xiangmu_abb_gg_tu2{ width:280px; height:110px; margin-left:5px;  margin-right:5px;}

.abb_youshi_bj{ height:598px; background-image:url(../images/tu_bj.gif); background-position:center; background-repeat:no-repeat; margin-top:45px;;}
.abb_xiangmu_ys{ height:530px; margin-top:40px;}
.abb_youshi_z{ width:430px; height:525px;}

.abb_youshi_y{ width:715px; height:525px;margin-left:25px;}
.abb_youshi_rq{ width:400px; height:25px; background-image:url(../images/fbt_bj.gif); background-position:left; background-repeat:no-repeat; line-height:25px; vertical-align:middle; font-family:"微软雅黑"; font-size:18px; color:#606060;font-weight:bold; padding-left:15px;}

.abb_youshi_rq_bj{ width:425px; height:95px; background-image:url(../images/renqun_k.png); background-repeat:no-repeat; line-height:25px; vertical-align:middle; font-family:"微软雅黑"; font-size:14px; color:#606060; padding-left:15px; padding-top:10px;}
.abb_youshi_rq_bj span{ font-family:"微软雅黑"; font-size:16px; color:#7A5016; font-weight:bold;}

.abbyoushi_rq_gg{width:425px; height:150px;}



.abb_youshi_liangdian{ width:700px; height:25px; background-image:url(../images/fbt_bj.gif); background-position:left; background-repeat:no-repeat; line-height:25px; vertical-align:middle; font-family:"微软雅黑"; font-size:18px; color:#606060;font-weight:bold; padding-left:15px;}

.abbyoushi_liangdian_nr{ width:708px; height:305px; margin-top:20px;}

.abbyoushi_liangdian_gg{width:708px; height:150px; margin-top:20px;}
.abbyoushi_liangdian_nr_xk{ width:230px; height:150px; margin-top:8.5px;background-color:#CCC; }

.abbyoushi_liangdian_nr_xk2{ width:230px; height:150px;background-color:#CCC; margin-left:8.5px; margin-right:8.5px;margin-top:8.5px;}

/*
//鼠标移入效果*/
.img_div {position: relative; width: 230px; height: 150px;}
.mask {position: absolute; top: 0; left: 0; width: 230px; height: 150px; background-color:#B48038; color: #ffffff; opacity: 0;}
.img_div a:hover .mask {  opacity: 1; }


.img_div1 {position: relative; width: 280px; height: 258px;}
.mask1 {position: absolute; top: 0; left: 0; width: 280px; height: 258px; background-color:#B48038; color: #ffffff; opacity: 0;}
.img_div1 a:hover .mask1 {  opacity: 1; }

.abb_lingdian_qh{ width:200px; height:120px; margin:15px;}
.abb_lingdian_qh_bt{ width:200px; height:30px;line-height:30px; vertical-align:middle; font-family:"微软雅黑"; font-size:20px; color:#fff;font-weight:bold;  text-align:center; }
.abb_lingdian_qh_nr{ width:200px; height:60px;line-height:20px; vertical-align:middle; font-family:"微软雅黑"; font-size:14px; color:#fff; margin-top:5px;}
.abb_lingdian_qh_zx{ width:200px; height:26px;line-height:20px; vertical-align:middle; font-family:"微软雅黑"; font-size:14px; color:#000; background-image:url(../images/zixun.png); background-position:center; background-repeat:no-repeat; text-align:center; padding-top:5px;}
.abb_lingdian_qh_zx a{ font-family:"微软雅黑"; font-size:14px; color:#000; }