<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mint项目</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mint.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.0.0-rc.2"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <div class="container">
        <div id="header" class="row" style="margin-top: 15px">
            <div class="col-xl-3">
                <a href="#"><img src="images/logo.png"></a>
            </div>
            <div class="col-xl-4 offset-xl-5" v-if="logined==false">
                <img src="images/tel.png">
                <a href="javascript:;" @click="login"  class="login" >注册</a>
                <a href="javascript:;" @click="register"  class="register" >登录</a>
            </div>
            <div class="col-xl-5 offset-xl-4" v-if="logined==true">
                <img src="images/tel.png">
                <span class="welcome">欢迎{{this.user.user_web_name}}</span>
                <a href="#" class="personal" >个人中心</a>
                <a href="javascript:;" @click="logout"  class="logout">退出</a>
            </div>
        </div>
    </div>
    <div id="banner">
        <div id="nav" class="container">
            <nav class="navbar navbar-expand-xl" style="height: 40px">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="index.html">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="program.html">MINT介绍</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="firms.html">合作平台</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">澳洲签证</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="news.html">新闻中心</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">关于我们</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">联系我们</a>
                    </li>
                </ul>
                <div class="form-inline">
                    <input class="form-control" type="text" placeholder="Search" v-model="keyword" @keyup.enter="search" style="background-color: transparent;border: #fe8700 1px solid">
                    <a class="btn btn-outline-light" @click="search" style="background-color: #fe8700;border: #fe8700 1px solid;color: white">搜索</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="container" id="middle">
        <div class="row title">
            <div class="col-xl-5">
                <img src="images/project.png">
            </div>
            <div class="offset-xl-6">
                <a href="#" class="more">MORE >></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 program">
                <nav class="navbar" style="margin-top: -8px">
                    <ul class="navbar-nav">
                        <li class="nav-item js">
                            <a class="nav-link" href="#" style="padding: 0px"><span class="pro">项目背景</span>Project Background<span class="pan">></span></a>
                        </li>
                        <li class="nav-item js">
                            <a class="nav-link" href="#" style="padding: 0px"><span class="pro">项目优势</span>Project Advantage<span class="pan">></span></a>
                        </li>
                        <li class="nav-item js">
                            <a class="nav-link" href="#" style="padding: 0px"><span class="pro">项目XX</span>Project Background<span class="pan">></span></a>
                        </li>
                    </ul>
                    <div style="clear: both"></div>
                </nav>
            </div>
            <div class="col-xl-8 programRight">
                <div class="notice">
                    <div class="protitle">项目背景<span>Project Background</span></div>
                    <hr class="hr">
                    <div class="content" id="programContent">
                       {{programs.programContent}}
                    </div>
                    <a href="#"><div class="button">查看详情</div></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="middle2">
        <div class="container">
            <div class="row title">
                <div class="col-xl-5">
                    <img src="images/liucheng.png">
                </div>
                <div class="offset-xl-6">
                    <a href="#" class="more">MORE >></a>
                </div>
            </div>
            <div class="row liucheng">
                <img src="images/jiantou.png">
            </div>
            <div class="row questions">
                <ul>
                    <a href="#"><li>北领地创新移民计划这个项目有保障吗？</li></a>
                    <a href="#"><li>我的学历很低，是否符合做这个项目要求？</li></a>
                    <a href="#"><li>北领地这个项目后期还需要投入资金吗？</li></a>
                    <a href="#"><li>MINT项目和普通移民有什么区别？</li></a>
                    <a href="#"><li>技术移民便宜，为什么我选择这个项目？</li></a>
                    <a href="#"><li>我有资金，别的都没有，能做这个项目么？</li></a>
                    <a href="#"><li>MINT项目有成功案例吗？拒签的风险高吗？</li></a>
                    <a href="#"><li>参加MINT项目，多久能够获得绿卡呢？</li></a>
                    <a href="#"><li>MINT项目的投资回报有保障吗？</li></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" id="middle3">
        <div class="container" style="margin-left: 405px">
            <div class="row title">
                <div class="col-xl-4">
                    <img src="images/xiangmuhezuo.png">
                    <div class="hezuo">
                        <span class="hztitle">合作商户</span>
                        <hr class="hr">
                        <div class="content">
                            MINT移民项目使用北领地州担保名额，申请者仅需投资51万澳币，其中41万用于购买北领地州政府债券，5年期的
                            年回报率是2.5%，其余10万元用于风险投资，年回报率最高可达15%，投资期限最长10年。
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 firms">
                    <div class="row">
                        <div class="col-xl-4" v-for="(firm,index) in firms">
                            <div :class="'firm'+index">
                                <a :href="firm.firmsUrl">{{firm.firmsName}}</a><p>{{firm.firmsIntroduction}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="middle4">
        <div class="row title">
            <div class="col-xl-5">
                <img src="images/news.png">
            </div>
            <div class="offset-xl-6">
                <a href="#" class="more">MORE >></a>
            </div>
        </div>
        <div class="row news">
            <div class="col-xl-6 letf">
                <div class="date" id="newestNewsTime">{{dateFormat(news.newsCreatedTime)}}</div>
                <div class="newstitle">
                    <a :href="'#'+news.newsId" id="newestNewsTitle">{{news.newsTitle}}</a>
                </div>
                <div class="desc" id="newestNewsContent">{{news.newsContent}}</div>
                <div class="picture">
                    <img src="images/newspic.png">
                </div>
            </div>
            <div class="col-xl-6 right">
                <ul class="newslist" id="indexNews">
                    <li v-for="(eachNews,index) in newsList">
                        <div class="newstitle">
                            <a :href="'#'+eachNews.newsId">{{eachNews.newsTitle}}</a>
                            <p class="date">{{dateFormat(eachNews.newsCreatedTime)}}</p>
                        </div>
                        <div class="desc">
                            {{eachNews.newsContent}}
                        </div>
                    </li>
                    <!--<li>
                        <div class="newstitle">
                            <a href="#">赴澳如何顺利入境</a>
                            <span class="date">2020-01-17</span>
                        </div>
                        <div class="desc">
                            澳大利亚以它优美的环境、发达的经济、完善的福利，吸引着越来越多的人前赴后继。
                            话说澳大利亚的海关是世界上....
                        </div>
                    </li>
                    <li>
                        <div class="newstitle">
                            <a href="#">赴澳如何顺利入境</a>
                            <span class="date">2020-01-16</span>
                        </div>
                        <div class="desc">
                            澳大利亚以它优美的环境、发达的经济、完善的福利，吸引着越来越多的人前赴后继。
                            话说澳大利亚的海关是世界上....
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer" id="footer">
        <div class="container" style="padding-top: 80px">
            <div class="row">
                <div class="col-xl-3">
                    <div class="biaoti1">特色服务</div>
                    <div class="text1">
                        <a href="#">澳大利亚技术移民5.98万元起</a><br>
                        <a href="#">澳大利亚投资移民仅需15万元</a><br>
                        <a href="#">无要求移民,聚力独家ABB项目</a><br>
                        <a href="#">澳大利亚开发商直售紧缺学区房</a><br>
                        <a href="#">最快移途径民澳洲北领地MINT项目</a><br>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="biaoti2">关于我们</div>
                    <div class="text2">
                        <a href="#">关于我们</a><br>
                        <a href="#">合作联系</a><br>
                        <a href="#">加入我们</a><br>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="biaoti2">产品与服务</div>
                    <div class="text2">
                        <a href="#">澳洲名校申请</a><br>
                        <a href="#">澳洲技术移民</a><br>
                        <a href="#">澳洲投资移民</a><br>
                        <a href="#">澳洲快速移民</a><br>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="biaoti1">特色服务</div>
                    <div class="text1">
                        聚力全球，澳洲企业，专精澳大利亚留学、移民、<br>
                        房产、就业等一条龙服务。<br>
                        热线电话：400-900-xxxx / 010-xxxxxxxx<br>
                        投诉建议：xxxxxxxxx@qq.com<br>
                        值班电话：138xxxxxxxx<br>
                        公司地址：北京市大兴区广德大街20号院课工场融合科技有限公司
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="beian">
                    Copyright © all rights reserved 京ICP备19XXXXX号-1 powered ioipiu.com
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="js/mint.js"></script>
<script type="text/javascript">
$(function () {
    $(".js").mouseover(function () {
        $(".notice").css("display","block");
    })
    $(".js").mouseout(function () {
        $(".notice").css("display","none");
    })
})
</script>
</body>
</html>